**/build/
**/.idea/
**/.gradle/
!gradle-wrapper.jar

**/.docker-volumes/postgres-data
**/.docker-volumes/grafana-data/png
**/.docker-volumes/grafana-data/plugins
**/infrastructure/data/*
**/.DS_Store
**/logs
**/*.pyc
